*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    font-size: 1.55rem;
    font-family: 'Kanit', sans-serif;
    background-color: #1b373d;
}

.container{
  margin: auto;
  max-width: 1600px;
  width: 80%;
}

h1,p,label{
    color: white;
}

h1{
    font-size: 4rem;
}

.choice{
    margin: 0.7rem auto;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 20%;
    padding: 1.563rem;
    border: solid white;
    border-radius: 25px;
}

.panelTimer {
  flex-direction: column;
  margin: 3.125rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 0.438rem solid white;
}

#timer {
  position: relative;
  display: flex;
}

#timer p {
  font-size: 5rem;
}

#button{
  border: 0.2rem solid white;
  background-color: transparent;
  cursor: pointer;
  margin: auto;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
}

#sound{
  border: 0.2rem solid white;
  background-color: transparent;
  cursor: pointer;
  margin: auto;
  width: 4vw;
  height: 4vw;
  border-radius: 12%;
  color: white;
  font-size: 2rem;
}

#numberWork,#numberBreak{
  font-size: 1rem;
  width: 50px;
  height: 25px;
  top: 50%;
  bottom: 50%;
}


@media screen and (max-width: 1024px) {
  .choice {
    width: 60%;
  }
  h1 {
    font-size: 3rem;
  }
  
  .panelTimer {
    flex-direction: column;
    width: 65vw;
    height: 65vw;
    border: 0.313rem solid white;
    }


  #timer {
    position: relative;
    display: flex;
  }
  
  #timer p {
    font-size: 4rem;
  }
    
  #button{
    border: 0.156rem solid white;
    width: 12vw;
    height: 12vw;
    font-size: 1.5rem;
  }

p,label{
  font-size: 1rem;
}

  #numberWork,#numberBreak{
    font-size: 1rem;
    width: 20%;
    margin: auto;
  }

  #sound{
    border: 0.2rem solid white;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
    width: 11vw;
    height: 11vw;
    border-radius: 12%;
    color: white;
    font-size: 2rem;
  }

}
  
@media screen and (max-width: 768px) {
  .container, .choice {
      width: 65%;
    }
  
  h1 {
    font-size: 3rem;
  }
  
  .panelTimer {
    flex-direction: column;
    width: 65vw;
    height: 65vw;
    border: 0.313rem solid white;
  }


  #timer {
    position: relative;
    display: flex;
  }
  
  #timer p {
    font-size: 4rem;
  }
    
  #button{
    border: 0.156rem solid white;
    width: 12vw;
    height: 12vw;
    font-size: 1.5rem;
  }

  #button{
    border: 0.156rem solid white;
    width: 12vw;
    height: 12vw;
    font-size: 1.5rem;
  }

p,label{
  font-size: 1rem;
}

#sound{
  border: 0.2rem solid white;
  background-color: transparent;
  cursor: pointer;
  margin: auto;
  width: 11vw;
  height: 11vw;
  border-radius: 12%;
  color: white;
  font-size: 2rem;
}
}


